<div class="news">
  <div class="container">
    <div class="news-header">
      <p>Chain Store Age</p>
      <p class="date">Feb 22, 2016</p>
    </div>
    <div class="news-title">Billabong taps NetSuite to power omnichannel strategy</div>
    <div class="news-content">
      <img src="../../../assets/img/new-1.jpg" class="img">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloribus eius eum facere fuga fugit hic in iure, laborum minima, nobis numquam obcaecati officiis optio, quia quisquam tempora vel?</p>
    </div>
    <div class="news-footer">
      <ul>
        <li><i class="fas fa-suitcase"></i></li>
        <li><i class="fas fa-thumbs-up"></i> 132</li>
        <li><i class="fas fa-share"></i></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="top">
      <div class="news-header">
        <p>Business Wire</p>
        <p class="date">Feb 18, 2016</p>
      </div>
      <div class="news-title">New study show One Critical industry lagging Behind in Software Security</div>
      <div class="news-content">
        <img src="../../../assets/img/new-2.jpg" class="img">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque commodi corporis explicabo facilis hic id illo iste iure iusto, minima nemo nostrum odio quam quo repudiandae tempora, tempore voluptatibus?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloribus eius eum facere fuga fugit hic in iure, laborum minima, nobis numquam obcaecati officiis optio, quia quisquam tempora vel?</p>
      </div>
    </div>

    <div class="news-footer">
      <ul>
        <li><i class="fas fa-suitcase"></i></li>
        <li><i class="fas fa-thumbs-up"></i> 132</li>
        <li><i class="fas fa-share"></i></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="top">
      <div class="news-header">
        <p>Business Wire</p>
        <p class="date">Feb 23, 2016</p>
      </div>
      <div class="news-title">New study show One Critical industry lagging Behind in Software Security</div>
      <div class="news-content">
        <img src="../../../assets/img/new-3.jpg" class="img">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque commodi corporis explicabo facilis hic id illo iste iure iusto, minima nemo nostrum odio quam quo repudiandae tempora, tempore voluptatibus?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloribus eius eum facere fuga fugit hic in iure, laborum minima, nobis numquam obcaecati officiis optio, quia quisquam tempora vel?</p>
      </div>
    </div>

    <div class="news-footer">
      <ul>
        <li><i class="fas fa-suitcase"></i></li>
        <li><i class="fas fa-thumbs-up"></i> 132</li>
        <li><i class="fas fa-share"></i></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="top">
      <div class="news-header">
        <p>Business Wire</p>
        <p class="date">Feb 18, 2018</p>
      </div>
      <div class="news-title">New study show One Critical industry lagging Behind in Software Security</div>
      <div class="news-content">
        <img src="../../../assets/img/new-4.jpg" class="img">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut cupiditate delectus dignissimos dolore et, eveniet laboriosam nisi odio pariatur quis, tenetur, vero. Atque facilis incidunt inventore neque quod, voluptas!</p>
      </div>
    </div>

    <div class="news-footer">
      <ul>
        <li><i class="fas fa-suitcase"></i></li>
        <li><i class="fas fa-thumbs-up"></i> 132</li>
        <li><i class="fas fa-share"></i></li>
      </ul>
    </div>
  </div>
</div>

